<div class="row g-3">
  <div class="col-md-6">
    <div class="form-group">
      {% if not form.seri_empr.is_hidden %}
      <label for="{{ form.seri_empr.id_for_label }}">Empresa</label>
      {% endif %}
      {{ form.seri_empr }}
      {% if form.seri_empr.errors %}
      <div class="alert alert-danger mt-1">{{ form.seri_empr.errors|striptags }}</div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      {% if not form.seri_fili.is_hidden %}
      <label for="{{ form.seri_fili.id_for_label }}">Filial</label>
      {% endif %}
      {{ form.seri_fili }}
      {% if form.seri_fili.errors %}
      <div class="alert alert-danger mt-1">{{ form.seri_fili.errors|striptags }}</div>
      {% endif %}
    </div>
  </div>
</div>
<div class="row g-3">
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ form.seri_codi.id_for_label }}">Código da Série</label>
            {{ form.seri_codi }}
            {% if form.seri_codi.errors %}
            <div class="alert alert-danger mt-1">{{ form.seri_codi.errors|striptags }}</div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ form.seri_nome.id_for_label }}">Tipo</label>
            {{ form.seri_nome }}
            {% if form.seri_nome.errors %}
            <div class="alert alert-danger mt-1">{{ form.seri_nome.errors|striptags }}</div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row g-3">
    <div class="col-md-12">
        <div class="form-group">
            <label for="{{ form.seri_docu.id_for_label }}">Documento</label>
            {{ form.seri_docu }}
            {% if form.seri_docu.errors %}
            <div class="alert alert-danger mt-1">{{ form.seri_docu.errors|striptags }}</div>
            {% endif %}
        </div>
    </div>
</div>
