<div class="mb-3">
    <label>Certificado A1 (pfx/p12)</label>
    {{ certificado_form.certificado }}
    {% if certificado_form.certificado.errors %}
    <div class="alert alert-danger mt-1">{{ certificado_form.certificado.errors|striptags }}</div>
    {% endif %}
</div>

<div class="mb-3">
    <label>Senha do certificado</label>
    {{ certificado_form.senha }}
    {% if certificado_form.senha.errors %}
    <div class="alert alert-danger mt-1">{{ certificado_form.senha.errors|striptags }}</div>
    {% endif %}
</div>

{{ certificado_form.empresa_id }}
{{ certificado_form.filial_id }}

<button class="btn btn-primary" type="submit" form="certificadoUploadForm">Salvar Certificado</button>