{% extends 'base.html' %} {% load static %}

{% block title %}Orçamentos{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'orcamentos/style.css' %}" />

<div class="container">
  <div class="container-orc">
    <div class="card">
      <h3>ORÇAMENTOS <i class="bi bi-file-break-fill fs-3 "></i></h3>
      <form method="GET" class="row g-3">
        <div class="col-md-3">
          <label for="pedi_nume" class="form-label">Número do Orçamento</label>
          <input type="text" name="pedi_nume" id="pedi_nume" class="form-control" value="{{ pedi_nume }}">
        </div>

        <div class="col-md-3">
          <label for="pedi_forn" class="form-label">Cliente</label>
          <input type="text" name="pedi_forn" id="pedi_forn" class="form-control" value="{{ pedi_forn }}">
        </div>

        <div class="col-md-3">
          <label for="pedi_vend" class="form-label">Vendedor</label>
          <input type="text" name="pedi_vend" id="pedi_vend" class="form-control" value="{{ pedi_vend }}">
        </div>

        <div class="col-md-3 d-flex align-items-end">
          <button type="submit" class="btn btn-primary w-100">
            <i class="bi bi-search"></i> Filtrar
          </button>
        </div>
      </form>

      <hr>

      <div class="container-new">
        <a href="{% url 'orcamento_form' %}" class="btn btn-primary mt-2">
          <i class="bi bi-plus"></i> Orçamento
        </a>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <th>Ações</th>
              <th>ID</th>
              <th>Data de Criação</th>
              <th>Cliente</th>
              <th>Total Orçamento</th>
              <th>Vendedor</th>

            </tr>
          </thead>
          <tbody>
            {% for orcamento in orcamentos %}
            <tr>
              <td>
                <a href="{% url 'orcamento_detail' orcamento.pk %}" class="btn btn-sm"
                  style="background-color: #e7a0a7; color: white; margin:2px">
                  <i class="bi bi-eye fs-6"></i>
                  <a href="{% url 'orcamento_update' orcamento.pk %}" class="btn btn-sm"
                    style="background-color: #7ab1ec; color: white; margin:2px">
                    <i class="bi bi-pencil fs-6"></i>
                    <a href="{% url 'orcamento_delete' orcamento.pk %}" class="btn btn-sm"
                      style="background-color: #e7a0a7; color: white; margin:2px">
                      <i class="bi bi-trash fs-6"></i>
              </td>
              <td>{{ orcamento.pedi_nume }}</td>
              <td>{{ orcamento.pedi_data }}</td>
              <td>{{ orcamento.pedi_forn.enti_nome }}</td> <!-- Nome do Cliente -->
              <td>{{ orcamento.pedi_tota }}</td>
              <td>
                {% if orcamento.pedi_vend %}{{ orcamento.pedi_vend.enti_nome }}{% else %}Sem Vendedor{% endif %}
              </td> <!-- Nome do Vendedor -->

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% include '_pagination.html' with page_obj=page_obj nome_cliente=nome_cliente num_pedido=num_pedido %}
    </div>

  </div>


  {% endblock %}