<div class="tab-pane fade" id="tab-transporte" role="tabpanel">
  <div class="row g-3">
    <div class="col-md-3">
      <label class="form-label">Modalidade de Transporte</label>
      <select class="form-select" name="transporte_modalidade" id="transporte-modalidade">
        {% for opt in modalidade_frete_opcoes %}
        <option value="{{ opt.value }}" {% if opt.value == modalidade_frete_default %}selected{% endif %}>{{ opt.label }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-5">
      <label class="form-label">Transportadora</label>
      <input type="text" class="form-control" name="transportadora" id="transportadora" value="" />
      <input type="hidden" id="transportadora-id" />
    </div>
    <div class="col-md-2">
      <label class="form-label">Placa</label>
      <input type="text" class="form-control" name="placa_veiculo" id="placa-veiculo" value="" />
    </div>
    <div class="col-md-2">
      <label class="form-label">UF</label>
      <input type="text" class="form-control" name="uf_veiculo" id="uf-veiculo" value="" />
    </div>
  </div>
</div>
